{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
     "transform-object-rest-spread",
     "transform-decorators-legacy",
     "babel-plugin-transform-class-properties"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
