/** Colors **/
$backgroundColor: #fbfff8;
$buttonBackgroundColor: #fdfdfd;
$borderColor: #ccc;
$deleteButtonBackgroundColor: #fdfdfd;
/** Metrix **/
$baseFontSize: 16px;
/** Fonts **/
$baseFont: Helvetica sans-sarif;
